@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1597406519739'); /* IE9 */
  src: url('iconfont.eot?t=1597406519739#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKcAAsAAAAABmAAAAJRAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApseAE2AiQDCAsGAAQgBYRtBy8bnQUR1Ytfsp8JmVw/ljNqiNG48x13SjdhtfFMBM/v72nOu/dhYSQnwAlSBdR286YNzdVZEQr5N48QYL+826v3zc2vrlERqi1IzoP/yzNeYKeX5i8DLqc/gR7kvzqg3PaksSaPCRhYGtDeGEVWJJE3jF3gEh4TaGug8WLu/KVrNTJrVSAO7N29VZMLyTLLNkJVczCLO0pNcbV4h9vh9+OvCdFQKBOrbuWueTvM/NHbzktnWtngE8IEdLxEwnhkYm1tarkkGJe0TWVD2Vd18KN3q+U7xV5tgv11VmV70B/K70nhKm+1sgA5Hh2AEaMupGjfpaoH1x5Fffbx9Yc7rvfYuTv0PzvTfUd5fs9dj54OeTt2ftt739ZPHPjbzjRrgl56XV656nTv094vvftsJmi9SIeSAsHj9/p2cydu2mXwZcOTqWGg9SLr56HZnzv4L4qePVlXWY4iq4paT2HAqJUF2mqLFuzr6vtYc4+byIVGj1vR1roiRdIYTmZ2PErtTEKlMQNtjbPgeDvdHJNEboOxLgKEzp6j0NFLJJ29JzP7DaWe/qPSORLa8tZHtwvbGRmrn6PoDRMNf1pHudhxmY+qb5jfR69ZVci/oGWNUhVSMdvhgs6xpXzm2oyJVU5qwXM4DqGssmG0sJjlJkaue1MY5XTeHAp6BiZk8EdWI3Fhf7jxpc/fwOzt0NOWhpr0C6hiHZ9UgtSD7PRXr4Z7eaX4mNWMYYQpcSItmAeHgyC5ft4GRiZYRiSyRrQHcV99WN94fkAZa8GyFGHPSMoD8oU6BwA=') format('woff2'),
  url('iconfont.woff?t=1597406519739') format('woff'),
  url('iconfont.ttf?t=1597406519739') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1597406519739#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lower:before {
  content: "\e618";
}

