@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1597452737951'); /* IE9 */
  src: url('iconfont.eot?t=1597452737951#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALQAAsAAAAAB1gAAAKCAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqCXIIjATYCJAMICwYABCAFhG0HNRtOBsiemjwhJAhjA/RtWgKA3BDB9/ux3/PexUQi3bNpZkjaPBSx0AmRahW+hfK7l8Cfc2/6MSM4n/NtP8ghK1RYeClwmo9qeJ5Ab5aEmwMUZnOTk3Orgf+6GTq4nP43xOd5AzSVNQetTROjOKBAxxoUWQEFxg1jNxE8wOMESnUSCXMTc4sIS8C4QOxZhoJwwSNJTrxYKGxYmsSDtOLsMvsGueffj/+KgckU5EDG4u64joZ+SZDa5uemlXwTdzkTnFXkGIckYrXRMi8pI+OSSqNISi90rNTglzTlHPaPRxCFQHI5aNc5z8TFvEf9ZQYSinEEOZ4Upbi6Gd5nNF6/tiYv34aarl5aEmfP20fdieOGptOm5EljqhkvIAhZxyJEaFeZwqwwYv/jJ20RW+gnz/upb+JxvPlOxc81Mr0F1ZF77A7L6PjxaRzTN1ZDgC+/SPz//9/4saey3tb3h8sS+Lk6/8BVyTAbxXdpDf42d2BdivlAm6WQ25jIHMFvUVKqFJ9MR63vqYqGV0uEYg0vaCvSkUGuWD+a8ONQoMwEFCo2CaXGTK4uU4dJilSCUXsahGo3kKn0Brlqb2jCf0GBRr9QqDqSUGo9urYsMxhW4ygDhYNO1BqxtMCnSM8bReo8GCVXYXk+JywDiy0/Kcj5cnwSfGBLzIjLRpFzSigLPDKhnQauG5CQBTZoXDY5D3tyOdr0JlkLPNRoFgMUHNARqhrCogn4KO3ONVY+Pw8YSlwK1lEzYlwGmJjVP1Egyw9AJyX+oJpHeSVWZijiOIqgmICHmNBMwIWRABE2D7IBDSczJ4RCPXJGMzpUIm8v8/5uD5QCyizg3FzZLvguWOu6wksIAQAA') format('woff2'),
  url('iconfont.woff?t=1597452737951') format('woff'),
  url('iconfont.ttf?t=1597452737951') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1597452737951#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fenlei_datu:before {
  content: "\e62d";
}

