@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1597285107713'); /* IE9 */
  src: url('iconfont.eot?t=1597285107713#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKIAAsAAAAABjAAAAI9AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAo4WAE2AiQDCAsGAAQgBYRtBzQbggXIrrApw71oixSnzj3e8DDgpw0O5Bni4f/XWPfNfEwkkkyqeCKTNESIJLNEalAttD19PWQGb+6YfpFN/N0uaIAlGlGABdblnB2ScC/MUFaNSKHPJZ8U8PsduCq5Xtgbrpf/XwONoqU+3+e5nN4EOpBRHyjXPWisSZN6AfXiQApobzyKrIQybhi7wCU8J1CqEwGX99eH1ZRY6wJx4BphNXNhSWK5YqGw5mgSlwoUZ+fZF8tF+P34axFNMgU5q2F9f6es5U92QcV3Yc8nRAjodAFyjAMSsV2bXlURjMNK01W9wL5qg5/wXWKvdsH+Oqu6HLTDTPCTu1aADG5rrGpA3SipRLXD6z7i7KFpdN6J09tJoa///yj7/xK6LNHP8rd4FghW3jf+YPomCfyoQ1vSz0vx+p7gPyh79iRdbTmzpCprBzPV+28qVYpv2F/rG2tpOGk+FGsY4S3SkSJXrJ9M7DgKlJlAoWJzKDVGny5TZ1URqQSjDoBQ7Uam0ity1R4ysS8KNPpRqDoqKLUbdVeWGQy3vUQoGBWYH2QZR9pxczuqvaHJA0FZdci/kDI3BpKJYu6AEdIcO7a3WeysIVAcggKvYRDEMFPsoeRJYk5szkPdmyY2Dq22JQQJDCnA+AGZFItofzhrlz5/g4xcQKCWrpriCyIZd3IgMaIHeTBEvbruRcrmzVjYMQ0EJBYCCixCgUAMzPWLPEhiE2lEMmHjdr/Q1zBZ3xR+3REoZVmzsKflSk+CPBt3N/LtlgUA') format('woff2'),
  url('iconfont.woff?t=1597285107713') format('woff'),
  url('iconfont.ttf?t=1597285107713') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1597285107713#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-plus-minus:before {
  content: "\e728";
}

